<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>reorder</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of items" (click)="goToPage(item.route)" color="item.color">
        <mat-icon *ngIf="item.haveIcon">{{item.icon}}</mat-icon>
        <span>{{item.text | translate}}</span>
    </button>
</mat-menu>