.example-icon {
    padding: 0 14px;
}   
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #3fb5a7 !important;
}

.font-footer {
  font-size: 15px;
  @media (max-width: 1280px) and (min-width: 544px){
    font-size: 12px;
  }
}