<div style="height: 100vh;">
  <mat-toolbar  md-scroll-shrink color="primary">
    <img src="https://retar.com.co/wp-content/uploads/2017/11/LOGO-RETAR-FONDO-TRANSPARENTE.png" width="100" height="50">
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a class="color-link-text" href="#" mat-button>{{'SIDE_NAV.MISSION' | translate}}</a>
      &nbsp;
      <a class="color-link-text" href="#" mat-button>{{'SIDE_NAV.VISION' | translate}}</a>
      &nbsp;
      <a class="color-link-text" href="#" mat-button>{{'SIDE_NAV.ABOUT_US' | translate}}</a>
      &nbsp;
      <a class="color-link-text" href="#" mat-button>{{'SIDE_NAV.HOW_TO_GET' | translate}}</a>
      &nbsp;
      <button mat-flat-button color="warn">
        <mat-icon>event</mat-icon>
        {{'SIDE_NAV.MAKE_AN_APPOINTMENT' | translate}}
      </button>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <app-nav-bar-menu [items]="items"></app-nav-bar-menu>
    </div>
  </mat-toolbar>
</div>